pre {
    display: $pre-display;
    overflow: $pre-overflow;
    @include margin-shorthand-with-screens-support((
        top: $pre-margin-top,
        bottom: $pre-margin-bottom,
        left: $pre-margin-left,
        right: $pre-margin-right
    ), $pre-margin-for-screens);
    @include border-shorthand(map-merge((
        border: (
            width: $pre-border-width,
            style: $pre-border-style,
            color: $pre-border-color,
            make-shorthand: true
        )
    ), $pre-borders));
    @include background-shorthand((
        image: $pre-background-image,
        position: $pre-background-position,
        repeat: $pre-background-repeat,
        color: $pre-background-color,
        attachment: $pre-background-attachment,
        make-shorthand: true
    ));
    @include padding-shorthand((
        top: $pre-padding-top, 
        bottom: $pre-padding-bottom, 
        left: $pre-padding-left, 
        right: $pre-padding-right
    ));
    font-family: $pre-font-family;
    white-space: $pre-white-space;
    @include pre-extra-style();

    code {
        padding: 0;
        background: transparent;
        white-space: pre-wrap;
    }
}