$pre-display: block !default;
$pre-overflow: auto !default;

//Margins
$pre-margin-top: $elements-margin-top !default;
$pre-margin-bottom: $elements-margin-bottom !default;
$pre-margin-left: $elements-margin-left !default;
$pre-margin-right: $elements-margin-right !default;
$pre-margin-for-screens: $elements-margin-for-screens !default;

//Borders
$pre-border-width: 1px !default;
$pre-border-style: solid !default;
$pre-border-color: get-color(grey, 400) !default;

$pre-border-top-width: null !default;
$pre-border-top-style: null !default;
$pre-border-top-color: null !default;
$pre-border-top-make-shorthand: false !default;

$pre-border-bottom-width: null !default;
$pre-border-bottom-style: null !default;
$pre-border-bottom-color: null !default;
$pre-border-bottom-make-shorthand: false !default;

$pre-border-left-width: null !default;
$pre-border-left-style: null !default;
$pre-border-left-color: null !default;
$pre-border-left-make-shorthand: false !default;

$pre-border-right-width: null !default;
$pre-border-right-style: null !default;
$pre-border-right-color: null !default;
$pre-border-right-make-shorthand: false !default;

//Paddings
$pre-padding-top: $inline-background-elements-padding-top !default;
$pre-padding-bottom: $inline-background-elements-padding-bottom !default;
$pre-padding-left: $inline-background-elements-padding-left !default;
$pre-padding-right: $inline-background-elements-padding-right !default;

//Background
$pre-background-image: null !default;
$pre-background-position: null !default;
$pre-background-repeat: null !default;
$pre-background-color: get-color(grey, 200) !default;
$pre-background-attachment: null !default;

//Font
$pre-font-family: $document-monospace-font-family !default;

//White space
$pre-white-space: pre-wrap !default;

//Extra style
@mixin pre-extra-style() {}